
.mon-texte {
    font-family: 'Arial', sans-serif; /* Remplacez 'Arial' par la police de votre choix */
    font-size: 25px; /* Taille de la police */
    color: #ffffff; /* Couleur du texte */
    margin-left: 2cm;
    
}
.nav{
    margin-top: 1cm;
    color: #ffffff;
}
.mofier{

}    margin-top: ;
