
.mon-texte {
    font-family: 'Arial', sans-serif; /* Remplacez 'Arial' par la police de votre choix */
    font-size: 25px; /* Taille de la police */
    color: #ffffff; /* Couleur du texte */
    margin-left: 2cm;
    
}
.navbar{
   position: fixed;
    color: #ffffff;
    margin-left: 0cm;
    z-index: 1000;
    width: 100%;
}

.navbar :hover {
    background-color: black;
    color: #ffffff;
}
li :any-link{
    font-family: 'Arial'; /* Remplacez 'Arial' par la police de votre choix */
    font-size: 21px; /* Taille de la police */
    color: #ffffff; /* Couleur du texte */
}
.dropdown-menu{ 
    color: #ffffff;
}
.recup{
    background-image: url(img/banner1.jpg);
    background-size: cover; 
    background-position: center;
    height: 100vh;
    width: 100%; 
    position: relative; 
    overflow: hidden;
}

.modifiers{
    color: #ffffff;
    margin-top: 16rem;

}
p{
  font-size: 20px; 
}
.card {
    margin-top: 1cm;
    background-color: black;
}
.card-title, .card-text{
    color: #ffffff;
}
a{
    text-decoration: none;
}
a:hover{

    background-color: rgb(255, 72, 0);
}
.red{
    width: 5rem;
    margin-left:4cm ;
    border-radius: 10rem;
    margin-left:5rem
}
.red:hover{
    background-color: rgb(255, 115, 0);
    opacity: 50%;
    color: rgb(255, 255, 255);
}